# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
ENV/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# Django migrations
**/migrations/
!*/migrations/__init__.py

# Pytest / Coverage
.coverage
htmlcov/
.tox/
.nox/
.cache/
pytest_cache/
.coverage.*

# mypy / Pyre / Pyright
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Mac / Linux / Windows
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# Env Files
.env
.env.*

# Node (in case frontend is within same repo)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
build/
dist/
*.egg-info/
